language: node_js

node_js:
  - "stable"
  
cache:
  directories:
    - node_modules
    
services:
  - docker
  
before_install:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin

install:
  - npm install -g codecov

script:
  - npm install
  - npm run build
  - docker build -t revadev/fortune .
  - docker push revadev/fortune
  - codecov

after_success:
  - bash <(curl -s https://codecov.io/bash)

on:
  branch: master
